@charset "UTF-8";

/* CSS Document */

/*------------------------------------------------------------------

Template Name:      Free Physiotherapy Website Template Download
Version:            1.0.0
Created Date:       30/03/2017
Author:             Jitu Chauhan

------------------------------------------------------------------
[CSS Table of contents]

1.  Body / Typography
2.  Form Elements
3.  Buttons
4.  General / Elements
        4.1 Section space
        4.2 Margin space
        4.3 Padding space
        4.4 Background color
        4.5 Features
        4.7 Call to actions
        4.8 Img hover effect
        4.9 Icon
        -----------------------
5. Header / Navigations
        5.1 Header Regular
        5.2 Header Transparent
        5.3 Navigation Regular
        5.4 Page Header

        -----------------------
6. Slider
        6.1 Slider
        -----------------------
7. Content
8. Footers
9. Pages
    9.1  Service
    9.2  Service Single / sidebar with sidenav
    9.3  Testimonial
    9.4  Contact us
    9.5  Styleguide
    ------------------------------------
10.Blog
    10.1 Blog Default
    10.2 Blog Single
    ------------------------------------
11.Sidebar
    11.1 Widget
    ------------------------------------

13. Media Queries

------------------------------------------------------------------*/

/*-----------------------------------
    1. Body / Typography
-----------------------------------*/

body { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-size: 15px; background-color: #fff; color: #6f6f6f; font-family: 'Roboto', sans-serif; line-height: 24px; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; margin-bottom: 10px; color: #3c3c3c; font-weight: 400; font-family: 'Roboto', sans-serif; }
h1 { font-size: 30px; line-height: 42px; }
h1.heading-line:after { display: block; position: relative; left: 0; border-radius: 3px; content: " "; border-bottom: 3px solid #e4e0d8; width: 30px; padding-bottom: 30px; }
h2 { font-size: 22px; line-height: 32px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; line-height: 24px; margin-bottom: 10px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
p { margin: 0 0 20px; }
p:last-child { margin-bottom: 0px; }
ul, ol { margin: 0; }
ul li, ol li { }
a { color: #0eb769; text-decoration: none; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
a:focus, a:hover { text-decoration: none; color: #019852; }
strong { }
.listnone { list-style: none; padding: 0px; }
.lead { font-size: 21px; color: #3c3c3c; font-weight: 400; }
.italic { font-style: italic; }
.small-text { color: #b4b1ac; font-size: 12px; }
.text-caps { text-transform: uppercase; letter-spacing: 2px; }
::selection { background: #ffecb3; color: #333; }
h3 small { font-weight: 400; line-height: 1; color: #0eb769; font-size: 14px; }
.bdr-btm { border-bottom: 1px solid #f1f3f8; margin-bottom: 30px; }
hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #f1f3f8; }
blockquote { padding: 10px 20px; margin: 0px; font-size: 21px; line-height: 32px; color: #3c3c3c; font-style: italic; border-left: 5px solid #0eb769; }

/*-------------- align ------------*/

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone { margin: 5px 20px 20px 0; }
.aligncenter, div.aligncenter { display: block; margin: 5px auto 5px auto; }
.alignright { float: right; margin: 0px 0 30px 30px; width: 100%;}
.alignleft { float: left; margin: 0px 30px 0px 0; width: 100%; }
a img.alignright { float: right; margin: 0px 0 30px 30px; }
a img.alignnone { margin: 5px 20px 20px 0; }
a img.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%;    /* Image does not overflow the content area */ padding: 5px 3px 10px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }

/*-----------------------------------
    2. Form css
-----------------------------------*/
label { }
.control-label { color: #474747; font-weight: 700; font-size: 12px; text-transform: uppercase; }
.form-control { width: 100%; height: 50px; padding: 6px 12px; font-size: 16px; line-height: 1.42857143; color: #333; background-color: #fff; border: 1px solid #dbe7e1; background-image: none; border-radius: 0px; -webkit-box-shadow: inset 0 0px 0px rgba(255, 255, 255, .075); box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .075); margin-bottom: 15px; }
.form-control:focus { border-color: #c8d8d0; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .075), 0 0 8px rgba(255, 255, 255, .6); box-shadow: inset 0 3px 3px rgba(255, 255, 255, .075), 0 0 8px rgba(235, 237, 238, .6); background-color: #f4faf7; }
.textarea.form-control { background-color: #f6f8f9; height: auto; }
.required { }
.form-news-letter .form-control { float: left; width: 75%; margin-right: 10px; }
.form-group { margin-bottom: 10px; }
.get-in-touch { }
.get-in-touch .form-control { margin-bottom: 10px; }

/*-----------------------------------
    3. Buttons
-----------------------------------*/
.btn { display: inline-block; padding: 10px 20px; margin-bottom: 0; font-size: 13px; font-weight: 800; letter-spacing: 1px; line-height: 1.42857143; text-align: center; border: none; text-transform: uppercase; border-radius: 0px; }
.btn-default { color: #fff; background-color: #0eb769; }
.btn-default:hover { color: #fff; background-color: #019852; border-color: #019852; }
.btn-default.focus, .btn-default:focus { color: #fff; background-color: #019852; border-color: #019852; }
.btn-primary { background-color: #474747; color: #fff; }
.btn-primary:hover { background-color: #333; color: #fff; }
.btn-primary.focus, .btn-primary:focus { }
.btn-white { color: #0eb769; background-color: #fff; border: 1px solid #fff; }
.btn-white:hover { background-color: #019852; border-color: #019852; color: #fff; }
.btn-white.focus, .btn-white:focus { background-color: #019852; border-color: #019852; color: #fff; }
.btn-link { color: #98989c; text-transform: uppercase; font-size: 12px; font-weight: 700; letter-spacing: 2px; border-bottom: 1px solid #98989c; padding-bottom: 2px; }
.btn-link:hover { color: #0eb769; font-weight: 700; text-decoration: none; border-bottom: 1px solid #0eb769; }
.btn-lg { font-size: 14px; padding: 20px 30px; }
.btn-sm { font-size: 12px; padding: 5px 10px; }
.btn-xs { font-size: 12px; padding: 5px 7px; }

/*-----------------------------------
    4. General / Elements
-----------------------------------*/

/*-----------------------
    4.1 Section space :
-------------------------*/

/*Note: Section space help to create top bottom space;*/

.space-small { padding-top: 40px; padding-bottom: 40px; }
.space-medium { padding-top: 100px; padding-bottom: 100px; }
.space-large { padding-top: 120px; padding-bottom: 120px; }
.space-ex-large { padding-top: 140px; padding-bottom: 140px; }

/*----------------------
   4.2 Margin Space
-----------------------*/
.mb0 { margin-bottom: 0px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb60 { margin-bottom: 60px; }
.mb80 { margin-bottom: 80px; }
.mb100 { margin-bottom: 100px; }
.mt0 { margin-top: 0px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt60 { margin-top: 60px; }
.mt70 { margin-top: 70px; }
.mt80 { margin-top: 80px; }
.mt100 { margin-top: 100px; }

/*----- less margin space from top --*/
.mt-20 { margin-top: -20px; }
.mt-40 { margin-top: -40px; }
.mt-60 { margin-top: -60px; }
.mt-80 { margin-top: -80px; }

/*-----------------------
   4.3 Padding space
-------------------------*/
.nopadding { padding: 0px; }
.nopr { padding-right: 0px; }
.nopl { padding-left: 0px; }
.pinside10 { padding: 10px; }
.pinside20 { padding: 20px; }
.pinside30 { padding: 30px; }
.pinside40 { padding: 40px; }
.pinside50 { padding: 50px; }
.pinside60 { padding: 60px; }
.pinside80 { padding: 80px; }
.pinside130 { padding: 130px; }
.pdt10 { padding-top: 10px; }
.pdt20 { padding-top: 20px; }
.pdt30 { padding-top: 30px; }
.pdt40 { padding-top: 40px; }
.pdt60 { padding-top: 60px; }
.pdt80 { padding-top: 80px; }
.pdb10 { padding-bottom: 10px; }
.pdb20 { padding-bottom: 20px; }
.pdb30 { padding-bottom: 30px; }
.pdb40 { padding-bottom: 40px; }
.pdb60 { padding-bottom: 60px; }
.pdb80 { padding-bottom: 80px; }
.pdl10 { padding-left: 10px; }
.pdl20 { padding-left: 20px; }
.pdl30 { padding-left: 30px; }
.pdl40 { padding-left: 40px; }
.pdl60 { padding-left: 60px; }
.pdl80 { padding-left: 80px; }
.pdr10 { padding-right: 10px; }
.pdr20 { padding-right: 20px; }
.pdr30 { padding-right: 30px; }
.pdr40 { padding-right: 40px; }
.pdr60 { padding-right: 60px; }
.pdr80 { padding-right: 80px; }

/*--------------------------------
4.4 Background & Block color
----------------------------------*/
.bg-light { background-color: #f6f3ec; }
.bg-primary { background-color: #0eb769; }
.bg-default { background-color: #effef7; }
.bg-white { background-color: #fff; }
.outline { border: 1px solid #e5e7ec; }
.section-title { }
.title { color: #3c3c3c; }
.text-white { color: #fff; }
.primary-sidebar { }
.secondary-sidebar { }

/*--------------------------------
4.5 Features Block
----------------------------------*/
.feature { }
.feature-icon { margin-bottom: 20px; }
.feature-left { }
.feature-left .feature-icon { float: left; }
.feature-left .feature-content { padding-left: 80px; }
.feature-center { }
.feature-center .feature-icon { }
.feature-center .feature-content { }
.feature-inner { }
.feature-outline { }
.thumbnail-block { }
.thumbnail-img { }
.thumbnail-content { }
.thumbnail-inner { }
.thumbnail-outline { }

/*----------------- video ---------------*/
.video-section { position: relative; }
.video-img { position: relative; }
.video-img img { width: 100%; }
.video-action { position: absolute; top: 40%; left: 47%; }

/*--------------------------------
4.6 Bullet
----------------------------------*/
.bullet { position: relative; padding-left: 15px; color: #78807e; line-height: 32px; }
.bullet-double-right li:before { font-family: FontAwesome; display: block; position: absolute; left: 0; width: 13px; font-size: 14px; color: #78807e; content: "\f101"; }

/*--------------------------------
4.7 Call to actions
----------------------------------*/
.cta-block { }
.cta-title { font-size: 32px; font-weight: 700; letter-spacing: -1px; color: #fff; margin-bottom: 10px; }
.cta-text { font-size: 18px; color: #a2fed4; }
.cta-content { }
.cta-call, .cta-mail { }

/*--------------------------------
4.8 Image Hover Effect
----------------------------------*/
.imghover { display: block; position: relative; max-width: 100%; }
.imghover::before, .imghover::after { display: block; position: absolute; content: ""; text-align: center; opacity: 0; }
.imghover::before { top: 0; right: 0; bottom: 0; left: 0; }
.imghover::after { top: 50%; left: 50%; width: 50px; height: 50px; line-height: 50px; margin: -25px 0 0 -25px; content: "\f2a8"; font-family: "FontAwesome"; font-size: 36px; }
.imghover:hover::before, .imghover:hover::after { opacity: 1; }
.imghover:hover::before { background: rgba(212, 27, 44, .55); }
.imghover:hover::after { color: #FFFFFF; }
[class^='imghvr-'], [class*=' imghvr-'] { background: rgba(211, 0, 80, .55); }

/*--------------------------------
4.9 Icon
----------------------------------*/
.icon { }
.icon-1x { font-size: 18px; }

/* default icon size of font*/
.icon-2x { font-size: 38px; }
.icon-4x { font-size: 65px; }
.icon-6x { font-size: 88px; }
.icon-8x { font-size: 108px; }
.icon-default { color: #0eb769; }
.icon-primary { color: #474954; }
.icon-secondary { color: #fff; }
.icon-white { color: #fff; }

/*--------------------------------
5 Header / Navigations
----------------------------------*/

/*--------------------
    5.1 Header Regular
   ----------------------*/

.logo { }
.header { background-color: #fff; z-index: 9999; position: relative; padding-top: 20px; padding-bottom: 20px; }
.header-top { background-color: #0eb769; font-size: 15px; padding-top: 11px; padding-bottom: 11px; line-height: 15px; color: #fff; font-weight: 500; }
.top-text { text-align: right; }
.top-text .text-block { padding-left: 20px; color: #fff; line-height: 18px; }
.call-block { }
.call-no { }
.mail-block { }
.mail-text { }
.time-block { }
.time-text { }
.call-block, .mail-block, .time-block { }

/*--------------------------
    5.2 Navigations Regular
   ----------------------------*/
.hero-section { padding-top: 135px; padding-bottom: 135px; background: linear-gradient(rgba(36, 39, 38, 0.5), rgba(36, 39, 38, 0.5)), rgba(36, 39, 38, 0.5) url(../images/hero-img.jpg) no-repeat center; background-size: cover; }
.hero-caption { padding-top: 100px; padding-bottom: 100px; }
.hero-title { font-size: 46px; color: #fff; line-height: 50px; font-weight: 600; margin-bottom: 30px; letter-spacing: -1px; }
.hero-text { font-size: 18px; color: #fff; margin-bottom: 30px; }
.navigation { float: right; }
.is-sticky .header {  -webkit-box-shadow: 0px 2px 6px 0px rgba(230,230,230,1);
-moz-box-shadow: 0px 2px 6px 0px rgba(230,230,230,1);
box-shadow: 0px 2px 6px 0px rgba(230,230,230,1);}
#navigation, #navigation ul, #navigation ul li, #navigation ul li a, #navigation #menu-button { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#navigation:after, #navigation > ul:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
#navigation #menu-button { display: none; }
#navigation { margin-top: 10px; }
#navigation > ul > li { float: left; }
#navigation.align-center > ul { font-size: 0; text-align: center; }
#navigation.align-center > ul > li { display: inline-block; float: none; }
#navigation.align-center ul ul { text-align: left; }
#navigation.align-right > ul > li { float: right; }
#navigation > ul > li > a { padding: 15px 25px; font-size: 14px; color: #474747; text-decoration: none; font-weight: 500; text-transform: uppercase; }
#navigation > ul > li:hover > a { color: #ffffff; background-color: #0eb769; }
#navigation > ul > li.has-sub > a { padding-right: 32px; }

/*#navigation > ul > li.has-sub > a:after {
 position: absolute;
 top: 22px;
 right: 11px;
 width: 8px;
 height: 2px;
 display: block;
 background: #dddddd;
 content: '';
}*/
#navigation > ul > li.has-sub > a:before { position: absolute; right: 14px; font-family: FontAwesome; content: "\f107"; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }

/*#navigation > ul > li.has-sub:hover > a:before {
 top: 23px;
 height: 0;
}*/
#navigation ul ul { position: absolute; left: -9999px; }
#navigation.align-right ul ul { text-align: right; }
#navigation ul ul li { height: 0; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
#navigation li:hover > ul { left: auto; }
#navigation.align-right li:hover > ul { left: auto; right: 0; }
#navigation li:hover > ul > li { height: 47px; }
#navigation ul ul ul { margin-left: 100%; top: 0; }
#navigation.align-right ul ul ul { margin-left: 0; margin-right: 100%; }
#navigation ul ul li a { padding: 16px; width: 170px; font-size: 14px; text-decoration: none; color: #fff; font-weight: 500; background: #0eb769; text-transform: uppercase; border-bottom: 2px solid #069c57; }
#navigation ul ul li:last-child > a, #navigation ul ul li.last-item > a { border-bottom: 0; }
#navigation ul ul li:hover > a, #navigation ul ul li a:hover { color: #ffffff; background-color: #0eb769; }
#navigation ul ul li.has-sub > a:after { position: absolute; top: 16px; right: 11px; width: 8px; height: 2px; display: block; background: #dddddd; content: ''; }
#navigation.align-right ul ul li.has-sub > a:after { right: auto; left: 11px; }
#navigation ul ul li.has-sub > a:before { position: absolute; top: 13px; right: 14px; display: block; width: 2px; height: 8px; background: #dddddd; content: ''; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
#navigation.align-right ul ul li.has-sub > a:before { right: auto; left: 14px; }
#navigation ul ul > li.has-sub:hover > a:before { top: 17px; height: 0; }
#navigation.small-screen { width: 100%; }
#navigation.small-screen ul { width: 100%; display: none; }
#navigation.small-screen.align-center > ul { text-align: left; }
#navigation.small-screen ul li { width: 100%; border-top: 1px solid #474747; }
#navigation.small-screen ul ul li, #navigation.small-screen li:hover > ul > li { height: auto; }
#navigation.small-screen ul li a, #navigation.small-screen ul ul li a { width: 100%; border-bottom: 0; padding: 20px 15px; }
#navigation.small-screen > ul > li { float: none; }
#navigation.small-screen ul ul li a { padding-left: 25px; }
#navigation.small-screen ul ul ul li a { padding-left: 35px; }
#navigation.small-screen ul ul li a { color: #474747; background: none; }
#navigation.small-screen ul ul li:hover > a, #navigation.small-screen ul ul li.active > a { color: #474747; }
#navigation.small-screen ul ul, #navigation.small-screen ul ul ul, #navigation.small-screen.align-right ul ul { position: relative; left: 0; width: 100%; margin: 0; text-align: left; }
#navigation.small-screen > ul > li.has-sub > a:after, #navigation.small-screen > ul > li.has-sub > a:before, #navigation.small-screen ul ul > li.has-sub > a:after, #navigation.small-screen ul ul > li.has-sub > a:before { display: none; }
#navigation.small-screen #menu-button { display: block; padding: 15px; color: #474747; cursor: pointer; font-size: 12px; border-top: 1px solid #474747; text-transform: uppercase; font-weight: 700; }
#navigation.small-screen #menu-button:after { position: absolute; top: 16px; right: 17px; display: block; height: 12px; width: 20px; border-top: 2px solid #474747; border-bottom: 2px solid #474747; content: ''; }
#navigation.small-screen #menu-button:before { position: absolute; top: 21px; right: 17px; display: block; height: 2px; width: 20px; background: #474747; content: ''; }
#navigation.small-screen #menu-button.menu-opened:after { top: 23px; border: 0; height: 2px; width: 15px; background: #474747; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
#navigation.small-screen #menu-button.menu-opened:before { top: 23px; background: #474747; width: 15px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
#navigation.small-screen .submenu-button { position: absolute; z-index: 99; right: 0; top: 0; display: block; border-left: 1px solid #474747; height: 53px; width: 53px; cursor: pointer; }
#navigation.small-screen .submenu-button.submenu-opened { }
#navigation.small-screen ul ul .submenu-button { height: 34px; width: 34px; }
#navigation.small-screen .submenu-button:after { position: absolute; top: 22px; right: 20px; width: 8px; height: 2px; display: block; background: #dddddd; content: ''; }
#navigation.small-screen ul ul .submenu-button:after { top: 15px; right: 13px; }
#navigation.small-screen .submenu-button.submenu-opened:after { background: #474747; }
#navigation.small-screen .submenu-button:before { position: absolute; top: 19px; right: 23px; display: block; width: 2px; height: 8px; background: #dddddd; content: ''; }
#navigation.small-screen ul ul .submenu-button:before { top: 12px; right: 16px; }
#navigation.small-screen .submenu-button.submenu-opened:before { display: none; }
#navigation.small-screen.select-list { padding: 5px; }

/*----------------------------------------------
    5.4 Page Header
----------------------------------------------*/
.page-header { background: linear-gradient(rgba(36, 39, 38, 0.5), rgba(36, 39, 38, 0.5)), rgba(36, 39, 38, 0.5) url(../images/page-header.jpg) no-repeat center; background-size: cover; margin: 0; border-bottom: none; padding-bottom: 0px; }
.page-caption { padding: 90px 0px; position: relative; z-index: 1; color: #fff; }
.page-title { color: #fff; text-align: left; font-size: 40px; font-weight: 400; letter-spacing: -1px; }
.breadcrumb { }
.breadcrumb>.active { }
.page-breadcrumb { background-color: #eef4f1; }
.page-breadcrumb .breadcrumb { background-color: transparent; margin-bottom: 0px; font-size: 12px; text-transform: uppercase; }

/*-----------------------------------
    6. Slider
-------------------------------------*/

/*-----------------------------------
7. Content
-------------------------------------*/

.content { padding-top: 60px; padding-bottom: 60px; }

/*-----------------------------------
8. Footer
-------------------------------------*/
.footer { background-color: #262928; padding-top: 100px; padding-bottom: 100px; }
.footer-widget p { color: #676f6c; }
.footer-widget .widget-title { color: #fff; font-weight: 600; letter-spacing: -1px; border-bottom: 1px solid #424544; padding-bottom: 20px; margin-bottom: 30px; }
.footer-widget { }
.footer-widget ul { }
.footer-widget li { }
.footer-widget li a { color: #676f6c; line-height: 34px; }
.footer-widget li a:hover { color: #0eb769; }
.footer-link { }
.footer-social { }
.footer-social ul { }
.footer-social ul li { }
.footer-social ul li a i { padding-right: 10px; width: 30px; }
.footer-social ul li a:hover i { color: #0eb769; }
.footer .contact li { position: relative; padding-left: 40px; display: block; margin-bottom: 15px; padding: 0 0 15px 40px; color: #666e6b; }
.footer .contact li i { display: block; position: absolute; top: 0; left: 0; width: 30px; font-size: 16px; text-align: center; }
.widget-newsletter .form-control { height: 48px; color: #eee; background-color: #1c1e1d; border: none; box-shadow: none; font-size: 14px; }
.widget-newsletter button { height: 48px; }

/*-------------- tiny footer ------------*/
.tiny-footer { background-color: #262928; padding-top: 9px; padding-bottom: 9px; font-size: 12px; color: #56575e; text-align: left; text-transform: uppercase; text-align: center; }
.copyright-content { border-top: 1px solid #424544; padding: 12px; color: #676f6c; }

/*-----------------------------------
9. Pages
-------------------------------------*/

/*-------------------------
 9.1 About us
---------------------------*/

.about-text { line-height: 40px; }
.about-block { }
.about-img { }
.about-info { }
.about-contact { font-size: 18px; color: #8c9292; font-weight: 600; margin-left: 5px; }
.counter_block { }
.counter_box { border-bottom: 1px solid #eee; padding: 40px 0px; }
.counter_number { font-weight: 900; margin-bottom: 0px; }
.counter_text { font-size: 12px; text-transform: uppercase; letter-spacing: 2px; }

/*-------------------------
 9.2  Service / single / sidebar
--------------------------*/

/* service section */

.service-block { }
.service-img { margin-bottom: 30px; }
.service-img img { width: 100%; }
.service-caption { }
.service-title { font-size: 20px; color: #212330; text-transform: uppercase; text-align: center; letter-spacing: 1px; }
.service-icon { }
.service-icon img { }
.service-single-block { }
.service-single-img { }
.service-single-content { }

/*-----------------------------------------
    service side-nav
   ------------------------------------------*/
.sidenav { background-color: #fff; margin-bottom: 30px; }
.sidenav li { position: relative; }
.sidenav li:last-child { margin-bottom: 0px; }
.sidenav li a { display: block; line-height: 14px; color: #2b2d2c; font-weight: 500; font-size: 16px; background-color: #eef4f1; padding: 20px; margin-bottom: 1px; }
.sidenav li a:hover { color: #fff; background-color: #0eb769; }
.sidenav li a.active, .sidenav ul li a.active .sidenav ul li i { color: #fff; background-color: #0eb769; }
.sidenav li a:focus { color: #bb0349; }
.sidenav li.active a:before { color: #bb0349; }

/*.sidenav li a:before { margin-right: 10px; font-family: FontAwesome; position: absolute; width: 20px; font-size: 12px; color: #7d7f89; content: "138"; left: 10px; }
.sidenav li a:hover:before { color: #bb0349; }*/
.arrow-circle-right li:last-child { border-bottom: 0px solid #6f4a52; }
.arrow-circle-right li a:before { margin-right: 10px; font-family: FontAwesome; position: absolute; left: 20px; width: 20px; font-size: 16px; color: #5a5a5a; content: "\f105"; font-weight: normal; }

/*--------------------------
  9.5  Testimonial
---------------------------*/
.quote-left { position: absolute; font-size: 100px; font-family: 'Libre Baskerville', serif; font-style: normal; color: #0eb769; line-height: 0px; top: 52px; }
.testimonial-block { }
.testimonial-img { }
.testimonial-img img { }
.testimonial-content { margin-bottom: 30px; }
.testimonial-info { line-height: 1; }
.testimonial-text { font-size: 21px; font-style: italic; line-height: 32px; color: #333333; }
.testimonial-name { font-size: 18px; font-weight: 600; margin-bottom: 10px; }
.testimonial-meta { font-size: 12px; text-transform: uppercase; }

/*-------------------------
  9.8 Contact us
---------------------------*/
.contact-block { }
.contact-block ul { }
.contact-block ul li { border: 1px solid #f1f2f4; padding-top: 30px; padding-bottom: 30px; }
.contact-block ul li i { color: #0eb769; float: left; padding: 0px; }
.contact-block .contact-text { }
.contact-info { background-color: #cda34d; color: #fff; }
.contact-info ul { padding-left: 0px; }
.contact-info li { position: relative; padding-left: 70px; margin-bottom: 30px; border-bottom: 1px solid #b69042; padding-bottom: 29px; }
.contact-info li:last-child { border-bottom: none; }
.contact-info li i { display: block; position: absolute; left: 0;    /* font-size: 50px; */    /* text-align: center; */
color: #fff;    /* bottom: 0px; */ }
.map { height: 400px; }
.contact-social { text-align: center; }
.contact-social { }
.contact-social a i { height: 32px; width: 32px; border-radius: 50px; background-color: #ffe2de; text-align: center; padding: 7px; line-height: 1.2; font-size: 14px; color: #c12d17; }
.contact-social a i:hover { color: #fe5036; }
address { margin-bottom: 20px; font-style: normal; line-height: 1.42857143; }

/*------------------------
 10. Blog pages
--------------------------*/
.content { }
.sidebar { }
.post-block { position: relative; }

/*-- use for thumbnail --*/
.post-holder { position: relative; margin-bottom: 30px; }

/*-- for single post page --*/
.post-img { position: relative; }
.post-title { }
.post-content { padding: 30px; border: 1px solid #efefef; }
.post-header { }

/*-------- Post meta --------*/
.meta { font-size: 12px; text-transform: uppercase; margin-bottom: 20px; }
.meta-date { }
.meta-user { }
.meta-comment { }
.meta-author { }
.meta-cat { }
.meta-date, .meta-author, .meta-comment, .meta-cat { display: inline-block; margin-right: 10px; }
.meta-link { }
.meta-tags { }

/*-------- Post Type --------*/
.post-sticky { background: url(../images/sticky.png) no-repeat; position: absolute; right: 35px; bottom: 35px; width: 30px; height: 30px; color: #fff; }
.post-gallery { }
.post-video { }
.post-video .video-sign { }
.post-audio { }
.post-quote { }

/*-------- Related Post --------*/
.related-post-block { border-top: 1px solid #eee; padding-top: 29px; margin-top: 30px; margin-bottom: 30px; }
.related-post { }
.related-post-title { }
.related-post-img { margin-bottom: 30px; }

/*----- Prev Next Post -----*/
.post-navigation { margin-bottom: 30px; }
.nav-previous, .nav-next { border: 1px solid #eef4f1; padding: 20px; }
.nav-previous { }
.nav-next { }
.prev-post { }
.next-post { }
.prev-link { }
.next-link { }
.prev-link, .next-link { margin-bottom: 10px; display: block; text-transform: uppercase; font-size: 12px; }

/*----- Author Post -----*/
.author-post { margin-bottom: 30px; background: #eef4f1; padding: 20px; }
.author-img { }
.author-title { }
.author-img img { width: 100%; }
.author-bio { }
.author-meta { }
.author-name { }
.author-header { }
.author-detail { }
.author-link { }
.author-social { }
.author-social ul { }
.author-social ul li { }
.author-social ul li a { }
.author-social ul li a:hover { }
.author-info { }

/*------------- Post Pagination -------------*/
.st-pagination { }
.st-pagination .pagination>li>a, .pagination>li>span { position: relative; float: left; margin-left: -1px; line-height: 1.42857143; color: #3c3c3c; text-decoration: none; font-size: 12px; background-color: #fff; font-weight: 700; text-transform: uppercase; margin-right: 5px; margin-bottom: 5px; padding: 8px 13px; border: 1px solid #efefef; }
.st-pagination .pagination>li>a:focus, .st-pagination .pagination>li>a:hover, .st-pagination .pagination>li>span:focus, .st-pagination .pagination>li>span:hover, .st-pagination .pagination>li>a.active { z-index: 2; color: #fff; background-color: #0eb769; border: 1px solid #0eb769; }
.st-pagination .pagination>li:first-child>a, .st-pagination .pagination>li:first-child>span { margin-left: 0; border-radius: 0px; }
.st-pagination .pagination>li:last-child>a, .st-pagination .pagination>li:last-child>span { border-radius: 0px; }
.st-pagination .pagination>.active>a, .st-pagination .pagination>.active>a:focus, .st-pagination .pagination>.active>a:hover, .st-pagination .pagination>.active>span, .st-pagination .pagination>.active>span:focus, .st-pagination .pagination>.active>span:hover { z-index: 3; color: #fff; cursor: default; background-color: #0eb769; border: none; }

/*------------------------
  12. Sidebar / Widgets
--------------------------*/

/*----- widget -----*/

.widget { margin-bottom: 4px; background-color: #eef4f1; padding: 20px; }
.widget-title { margin-bottom: 20px; }
.widget ul { }
.widget ul li { margin-bottom: 16px; }
.widget ul li:last-child { margin-bottom: 0px; }
.widget ul li a { color: #474747; }
.widget ul li a.active { color: #0eb769; }
.widget ul li a:hover { color: #0eb769; }
.widget-search { }
.widget-search .input-group-addon { color: #fff; text-align: center; background-color: #0eb769; border: 1px solid #0eb769; border-left: transparent; }
.widget-categories { }
.widget-categories ul { }
.widget-categories ul li { }
.widget-categories ul li a { }
.widget-archives { }
.widget-archives ul { }
.widget-archives ul li { }
.widget-archives ul li a { }
ul.widget-recent-post { }
.widget-recent-post li { margin-bottom: 16px; border-bottom: 2px solid #dbe7e1; padding-bottom: 16px; }
.widget-recent-post ul li a {}
.recent-post-img { }
.recent-post-content { }
.widget-tags { }
.widget-tags a { border: 1px solid #dbe7e1; padding: 5px 10px; display: inline-block; background-color: #fff; font-size: 12px; text-transform: uppercase; margin-bottom: 5px; margin-right: 3px; }
.widget-tags a:hover { background-color: #0eb769; color: #fff;    /* border: 1px solid #0eb769;*/ }
.widget-text { }
.widget-contact { }
.widget-social { }
.social-circle a { height: 33px; width: 33px; background-color: #0eb769; color: #fff; border-radius: 100%; padding: 5px; display: inline-block; text-align: center; margin-right: 10px; }
.social-circle a:hover { background-color: #019852; }
.widget-call-to-action{background-color: #0eb769;}
.widget-call-to-action .widget-title{font-size: 42px; color: #fff; font-weight: 600;}
.widget-call-to-action p{font-size: 18px;}
.team-block { margin-bottom: 20px; }
.team-img { margin-bottom: 20px; }
.team-content { text-align: center; }
.team-title { margin-bottom: 0px; }
.team-name { }
.team-meta { text-transform: uppercase; font-size: 12px; color: #0eb769; font-weight: 500; letter-spacing: 1px; }
.team-designation { }

/*----- Comment Post -----*/
.comments-area { }
.comments-title { border-bottom: 1px solid #eef4f1; padding-bottom: 20px; margin-bottom: 30px; }
.comment-list { list-style: none;  padding: 0px;}
.comment { }
.comment-body { margin-top: 20px; margin-bottom: 30px; border-bottom: 1px solid #eef4f1; padding-bottom: 20px; }
.comment-author { }
.comment-author img { float: left; }
.comment-info { padding-left: 120px; }
.comment-header { margin-bottom: 0px; }
.user-title { font-size: 15px; color: #474747; margin-bottom: 10px; font-weight: 500; }
.comment-meta { }
.comment-meta-date { color: #98989c; font-size: 12px; text-transform: uppercase; letter-spacing: 1px; font-weight: 500; }
.comment-content { color: #6f6f6f; margin-bottom: 20px; }
.reply { }

/*---- thread comments --------*/
.childern { padding-left: 100px; list-style: none; }
.childern .comment-body { background-color: #eef4f1; padding: 20px; }
.childern .comment-info { padding-left: 120px; }

/*----- Leave Reply -----*/
.leave-comments { margin-top: 30px; background-color: #eef4f1; padding: 40px; }
.leave-comments .control-label { color: #474747; font-weight: 600; font-size: 13px; }

/*--------------------------------
 Extra Plugin CSS - Back to top
---------------------------------*/
.cd-top { display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(212, 27, 44, 100) url(../images/cd-top-arrow.svg) no-repeat center 50%; visibility: hidden; opacity: 0; -webkit-transition: opacity .3s 0s, visibility 0s .3s; -moz-transition: opacity .3s 0s, visibility 0s .3s; transition: opacity .3s 0s, visibility 0s .3s; }
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover { -webkit-transition: opacity .3s 0s, visibility 0s 0s; -moz-transition: opacity .3s 0s, visibility 0s 0s; transition: opacity .3s 0s, visibility 0s 0s; }
.cd-top.cd-is-visible {    /* the button becomes visible */
visibility: visible; opacity: 1; }
.cd-top.cd-fade-out {    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
opacity: .5; }
.no-touch .cd-top:hover { background-color: #e70359; opacity: 1; }

/*-------------styleguide-------------*/
.box-info { }
.box-default-color { background-color: #0eb769; height: 160px; width: 160px; }
.box-primary-color { background-color: #474747; height: 160px; width: 160px; }
.box-heading-color { background-color: #474747; height: 160px; width: 160px; }
.box-secondary-color { background-color: #6f6f6f; height: 160px; width: 160px; }
.box-bg-color { background-color: #effef7; height: 160px; width: 160px; }

/*--------------------------------
    Media Query
--------------------------------*/

/* Custom sizes (768px to 1024px) */
@media screen and (max-width:768px) {
    .post-content { position: relative; width: 100%; right: 0px; top: 0px; }
    .navigation { float: none; }
    .comment-info {
     padding-left: 10px;
}.childern .comment-info {
    padding-left: 10px;
}
.childern {
    padding-left: 0px;
    list-style: none;
}

}
@media screen and (max-width:320px) {
    .navigation { float: none; }
    .comment-info {
     padding-left: 10px;
}
.childern .comment-info {
    padding-left: 10px;
}
.childern {
    padding-left: 0px;
    list-style: none;
}

}
